@implements IDisposable
@inject NavigationManager NavigationManager

<body class="index-page">
    <header id="header" class="header dark-background d-flex flex-column">
        <i class="header-toggle d-xl-none bi bi-list"></i>

        <div class="profile-img">
            <img src="assets/img/ZorzalPic.png" alt="" class="img-fluid rounded-circle">
        </div>

        <AuthorizeView>
            <Authorized>
                <a href="" class="logo d-flex align-items-center justify-content-center">
                    <h1 class="sitename">@context.User.Identity?.Name</h1>
                </a>
            </Authorized>

            <NotAuthorized>
                <a href="" class="logo d-flex align-items-center justify-content-center">
                    <h1 class="sitename">Zorzal Cacao</h1>
                </a>
            </NotAuthorized>
        </AuthorizeView>

        <nav id="navmenu" class="navmenu">
            <ul>
                <AuthorizeView Roles="Empleado">
                    <li>
                        <NavLink href="/Empleado/Index" Match="NavLinkMatch.All">
                            <i class="bi bi-house navicon"></i> Actividades
                        </NavLink>
                    </li>
                </AuthorizeView>

                <AuthorizeView Roles="Productor">
                    <li>
                        <NavLink href="/Productor/Index" Match="NavLinkMatch.All">
                            <i class="bi bi-house navicon"></i> Consultas
                        </NavLink>
                    </li>
                </AuthorizeView>

                <AuthorizeView Roles="Administrador">
                    <li>
                        <NavLink href ="/Administrador/Index" Match="NavLinkMatch.All">
                            <i class="bi bi-house navicon"></i> Usuarios
                        </NavLink>
                    </li>
                </AuthorizeView>

                <li>
                    <NavLink href="/About">
                        <i class="bi bi-person navicon"></i> Sobre nosotros
                    </NavLink>
                </li>

                <AuthorizeView>
                    <Authorized>
                        <li>
                            <form action="Account/Logout" method="post">
                                <AntiforgeryToken />
                                <input type="hidden" name="ReturnUrl" value="" />
                                <button type="submit" class="nav-link-button" style="background: none; border: none; color: inherit; font: inherit; cursor: pointer; padding: 0;">
                                    <i class="bi bi-arrow-bar-left navicon mt-2 ms-2"></i> Logout
                                </button>
                            </form>
                        </li>
                    </Authorized>
                    <NotAuthorized>
                        <li>
                            <NavLink href="Account/Register">
                                <i class="bi bi-person-plus navicon"></i> Register
                            </NavLink>
                        </li>
                        <li>
                            <NavLink href="Account/Login">
                                <i class="bi bi-person-badge navicon"></i> Login
                            </NavLink>
                        </li>
                    </NotAuthorized>
                </AuthorizeView>
            </ul>
        </nav>
    </header>
</body>

@code {
    protected override void OnInitialized()
    {
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}