@page "/ZonasProduccion/Create"
@inject AuthenticationStateProvider AuthStateProvider
@inject ZonasProduccionService zonasService
@inject NavigationManager navigation
@rendermode InteractiveServer

<PageTitle> Registrar zona de producción </PageTitle>

<div class="container mt-3">
    <div class="card shadow-lg">
        <div class="card-header">
            <h5 class="card-title text-center">
                <strong> Registrar zona de producción </strong>
            </h5>
        </div>

        <EditForm Model="zona" OnValidSubmit="GuardarZona">
            <DataAnnotationsValidator />

            <div class="card-body">
                <div class="row">
                    <!-- Nombre -->
                    <div class="col-12 col-md-6 mb-3">
                        <label class="col-form-label"><strong>Nombre de la zona</strong></label>
                        <InputText class="form-control" @bind-Value="zona.Nombre" />
                        <ValidationMessage For="() => zona.Nombre" />
                    </div>

                    <!-- Provincia -->
                    <div class="col-12 col-md-6 mb-3">
                        <label class="col-form-label"><strong>Provincia</strong></label>
                        <InputText class="form-control" @bind-Value="zona.Provincia" />
                        <ValidationMessage For="() => zona.Provincia" />
                    </div>

                    <!-- Distancia -->
                    <div class="col-12 col-md-6 mb-3">
                        <label class="col-form-label"><strong>Distancia (km)</strong></label>
                        <InputNumber class="form-control" @bind-Value="zona.Distancia" />
                        <ValidationMessage For="() => zona.Distancia" />
                    </div>
                </div>
            </div>

            <div class="card-footer gap-2 bg-white d-flex justify-content-center">
                <button type="submit" class="btn btn-primary bi bi-save"> Guardar </button>
                <a class="btn btn-secondary bi bi-arrow-left-circle" href="/ZonasProduccion/Index"> Regresar </a>
            </div>

        </EditForm>
    </div>
</div>

@code {
    public ZonasProduccion zona { get; set; } = new ZonasProduccion();

    public async Task GuardarZona()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        zona.ProductorId = user.FindFirst(ClaimTypes.NameIdentifier)?.Value;

        if (await zonasService.Guardar(zona))
        {
            navigation.NavigateTo("/ZonasProduccion/Index");
        }
    }
}
